# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local app config
config.json
